.deploy {
    margin:20px;
}

.marg-top {
    margin-top: 60px;
}

.new {
    padding: 20px;
    margin: 10px;
}

.size {
    height: 100px;
}

.mb-3 {
    margin: 20px;
    margin-top: 20px !important;
}

.fixedbottom {
    margin-top: 20px;
}