.main-footer {
    font-size: 12px;
}



.footer-middle {
    background: #00475a;
    padding-top: 1rem;
    color: white;
    }

.footer-bottom {
    text-align: left;
    color: white;
}

ul li a {
    color: white;
}

ul li a:hover {
    color: grey;
}